<div class="panel-header panel-header-sm">
</div>


<div class="content">
    <div class="row">
        <div class="col-md-12">

            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">
                        <?= $this->Html->link('<i class="fa fa-arrow-left"></i> ' . __('Voltar'), ['action' => 'index'], ['escape' => false]) ?>
                    </h4>
                </div>


                <div class="card-body">
                    <!-- /.box-header -->
                    <!-- form start -->
                    <?= $this->Form->create($comment, array('role' => 'form')) ?>
                    <div class="box-body">
                        <?php
                        echo $this->Form->input('title', ['label' => 'Assunto', 'required' => true]);
                        echo $this->Form->input('text', ['label' => 'Mensagem', 'required' => true]);
                        ?>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <?= $this->Form->button('<i class="fa fa-send"></i> ' . __('Enviar'), ['class' => 'btn btn-success']) ?>
                    </div>
                    <?= $this->Form->end() ?>
                </div>
            </div>
        </div>
    </div>
</div>

