<div class="col-md-6">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Mapa de Ocorrências</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div id="mapid" style=" height: 420px;"></div>
        </div>
    </div>
    <!-- /.box -->
</div>

