<section class="content-header">
    <h1>
        <?php echo __('Calendário'); ?>
    </h1>
    <ol class="breadcrumb">
        <li>
            <?= $this->Html->link('<i class="fa fa-arrow-left"></i> ' . __('Voltar'), ['action' => 'index'], ['escape' => false]) ?>
        </li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <i class="fa fa-info"></i>
                    <h3 class="box-title"><?php echo __('Informação'); ?></h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <dl class="dl-horizontal">
                        <dt><?= __('Titulo') ?></dt>
                        <dd>
                            <?= h($calendar->title) ?>
                        </dd>

                        <dt><?= __('descrição') ?></dt>
                        <dd>
                            <?= $this->Text->autoParagraph(h($calendar->text)); ?>
                        </dd>

                        <dt><?= __('Criado por') ?></dt>
                        <dd>
                            <?= $calendar->has('user') ? $calendar->user->username : '' ?>
                        </dd>

                        <dt><?= __('Dia do evento') ?></dt>
                        <dd>
                            <?= h($calendar->start->format('d/m/Y')) ?>
                        </dd>
                    </dl>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- ./col -->
    </div>
    <!-- div -->

</section>
