/*
 * Skin: Black
 * -----------
 */

/* skin-black navbar */
.skin-black {
  //Navbar & Logo
  .main-header {
    @include box-shadow(0px 1px 1px rgba(0, 0, 0, 0.05));
    .navbar-toggle {
      color: #333;
    }
    .navbar-brand {
      color: #333;
      //border-right: 1px solid #eee;
    }
    > .navbar {
      @include navbar-variant(#fff, #333, #999, #fff);
      > .sidebar-toggle {
        color: #333;
        //border-right: 1px solid #eee;
      }
      .navbar-nav {
        > li > a {
          //border-right: 1px solid #eee;
        }
      }
      .navbar-custom-menu .navbar-nav,
      .navbar-right {
        > li {
          > a {
            //border-left: 1px solid #eee;
            border-right-width: 0;
          }
        }
      }
    }
    > .logo {
      @include logo-variant(#fff, #333);
      border-right: 1px solid #eee;
      @media (max-width: $screen-header-collapse) {
        @include logo-variant(#222, #fff);
        border-right: none;
      }
    }

    li.user-header {
      background-color: #222;
    }
  }

  //Content Header
  .content-header {
    background: transparent;
    box-shadow: none;
  }
  //Create the sidebar skin
  @include skin-dark-sidebar(#fff);

  .navbar-dark {
    background: #222d32;

    .nav > li > a {
      color: #b8c7ce !important;
    }

    .nav .active > a:before {
      content: ' ';
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid #ecf0f5;
      position: absolute;
      bottom: -5px;
      left: 50%;
      margin-left: -7px;
    }

    .nav > li:hover {
      background: transparent;
      color: #fff !important;

      a {
        background: transparent;
      }
    }
  }
}


