//Different radius each side
@mixin border-radius($top-left, $top-right, $bottom-left, $bottom-right)
{
  border-top-left-radius: $top-left;
  border-top-right-radius: $top-right;
  border-bottom-right-radius: $bottom-right;
  border-bottom-left-radius: $bottom-left;
}

//Gradient background
@mixin gradient($color: #F5F5F5, $start: #EEE, $stop: #FFF, $important:"") {
  background: $color;
  background: -webkit-gradient(linear,left bottom,left top,color-stop(0, $start),color-stop(1, $stop)) unquote($important);
  background: -ms-linear-gradient(bottom,$start,$stop) unquote($important);
  background: -moz-linear-gradient(center bottom, $start 0%, $stop 100%) unquote($important);
  background: -o-linear-gradient($stop, $start) unquote($important);
  //filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",$stop,$start)) unquote($important);
}