<?php
use Cake\Core\Configure;

$file = Configure::read('Theme.folder') . DS . 'src' . DS . 'Template' . DS . 'Element' . DS . 'footer.ctp';

if (file_exists($file)) {
    ob_start();
    include_once $file;
    echo ob_get_clean();
} else {
    ?>
    <footer class="main-footer">
        <strong>Copyright &copy; 2017 <a href="http://viewschool.com.br">ViewSchool</a>.</strong> All rights
        reserved.
    </footer>
<?php } ?>
