<section class="content-header">
  <h1>
    <?php echo __('Frequency'); ?>
  </h1>
  <ol class="breadcrumb">
    <li>
    <?= $this->Html->link('<i class="fa fa-dashboard"></i> ' . __('Back'), ['action' => 'index'], ['escape' => false])?>
    </li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
<div class="row">
    <div class="col-md-12">
        <div class="box box-solid">
            <div class="box-header with-border">
                <i class="fa fa-info"></i>
                <h3 class="box-title"><?php echo __('Information'); ?></h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <dl class="dl-horizontal">
                                                                                                                <dt><?= __('Status') ?></dt>
                                        <dd>
                                            <?= h($frequency->status) ?>
                                        </dd>
                                                                                                                                                    <dt><?= __('People') ?></dt>
                                <dd>
                                    <?= $frequency->has('people') ? $frequency->people->name : '' ?>
                                </dd>
                                                                                                                <dt><?= __('Lesson') ?></dt>
                                <dd>
                                    <?= $frequency->has('lesson') ? $frequency->lesson->title : '' ?>
                                </dd>
                                                                                                
                                            
                                                                                                                                                            <dt><?= __('Note') ?></dt>
                                <dd>
                                    <?= $this->Number->format($frequency->note) ?>
                                </dd>
                                                                                                
                                                                                                                                                                                                
                                            
                                    </dl>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- ./col -->
</div>
<!-- div -->

</section>
